@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
body{
    font-family: Michroma;
    max-width: 1200px;
    scroll-behavior: smooth;
    margin: 0 auto;
    background-color: #2D2F31;
    color: white;
}
html{
    scroll-behavior: smooth;
}
.container {
    margin-top: 30px;
}
.navigation{ 
    font-family: Michroma;
    font-size: 20px; 
    display: flex; 
    justify-content: space-between; 
    background-color: #2D2F31;   
    word-spacing: 80px;
    white-space: nowrap;
}
.nav-links{ 
    text-decoration: none; 
    color: white;
}
.nav-links:hover{
    text-decoration: underline;
}
.nav-links{
    text-decoration: 0;
    font-family: Michroma;
    font-size: 20px;
    color: white;
    padding: 25px;
}
.header-logo{ 
    max-height: 50px; 
    max-width: 75px; 
display: flex; 
justify-content: left; 
} 
.header-button {
    background-color: #2D2F31;
    color: white;
    font-family: Michroma;
    font-size: 20px;
    display: flex;
    justify-content: right;
    border: none;
    text-decoration: underline;

}
.header-button .a{
    padding-bottom: 40x;
    color: #2D2F31;
} 
.header-button :hover{
    text-decoration: underline;
}
.second{
    display: flex;
}


.textcols {
	white-space: nowrap;
    max-width: 900px;
}
.textcols-item {
	white-space: normal;	
	display: inline-block;
	max-width: 48%;
	vertical-align: top;
}
.textcols .textcols-item:first-child {
	margin-right: 4%;
}
.text-product{
    padding-left: 20px;
    height: 500px;
}
.content-product{
    max-width: 400px;
    font-size: 20px;
}

.footer-content {
    white-space: nowrap;
    font-size: 0;
}

.textcols-footer {
    white-space: normal;
    display: inline-block;
    max-width: 30%;
    vertical-align: top;
    margin-right: 5%;
    font-size: 14px;
}

.footer-content .textcols-footer:last-child {
    margin-right: 0;
}

.footer-image {
    display: flex;
    justify-content: center;
    margin-right: 50px;
    margin-left: 50px;
}

.footer_text {
    text-align: right;
}

.M-photo {
    text-align: center;
    margin-left: 100px;
}

.img-foot {
    margin-right: 20px;
    text-align: center;
}

.text-foot {
    text-align: center;
}